@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 142 84% 58%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 11%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 142 84% 58%;
    --radius: 0.5rem;
  }
}

body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.project-image-container {
  position: relative;
  overflow: hidden;
  height: 300px; /* Adjust height as needed */
}

.project-image-container img {
  transition: transform 8s ease-in-out;
}

.project-image-container:hover img {
  transform: translateY(calc(-100% + 300px)); /* Adjust 300px to match container height */
}